@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.c-error {
  background-color: rgb(212, 116, 0);
  color: black;
  padding: 20px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.post {
  margin-bottom: 35px;
  background-color: transparent;
  cursor: pointer;
}
.nav {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.nav :is(a, button) {
  text-decoration: none;
  color: black;
  display: flex;
  padding: 15px;
  background-color: antiquewhite;
  transition: all .3s;
}

.nav :is(a.active) {
  text-decoration: none;
  color:  antiquewhite;
  display: flex;
  padding: 15px;
  background-color: rgb(50, 0, 230);
}